.search-box {
  padding: 10px 20px;
  width: 250px;
  margin-bottom: 30px;
  border-radius: 12px;
  font-size: 20px;
}

.search-box--monster {
  width: 350px;
  line-height: 40px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 26px;
}

.search-box::placeholder {
  color: rgb(227, 184, 255);
}
