body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(114, 143, 0) 0%,
    rgb(58, 0, 128) 100%
  );
  text-align: center;
}

.title {
  font-size: 60px;
  font-family: 'Skranji', cursive;
  color: rgb(203, 254, 0);
}

.subtitle {
  color: rgba(255, 255, 255, 0.81);
  margin-bottom: 40px;
}
